/* Body with gradient for light mode */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: radial-gradient(circle, lightblue, blueviolet); /* Light mode gradient */
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Dark mode with gradient */
.dark-mode {
    background: radial-gradient(circle, #333, #000); /* Dark mode gradient */
    color: white;
}

/* Ensure dropdown position */
#dropdown {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    width: 100%;
    list-style-type: none;
    padding: 0;
    z-index: 10;
}

/* Dark mode for dropdown */
.dark-mode #dropdown {
    background-color: #333;
    color: white;
}

.dark-mode #dropdown li:hover {
    background-color: #555;
}

/* Position the artist input and wrapper */
#artistInputWrapper {
    position: relative;
    width: 100%;
}

#artistInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#artistInfo {
    font-size: 18px;
    margin-top: 100px;
}

/* Dark mode toggle button - fixed position at top right */
#darkModeToggle {
    position: fixed; /* Fixed to the viewport */
    top: 10px; /* Position from top */
    right: 10px; /* Position from right */
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure it stays on top */
    transition: background-color 0.5s ease, color 0.5s ease;
}

#darkModeToggle:hover {
    background-color: #e0e0e0;
}
