body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: white; /* Ensure a default background color */
    color: black; /* Ensure a default text color */
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.dark-mode {
    background-color: #000000;
    color: white; 
}

/* Add the styles for the dark mode toggle button */
#darkModeToggle {
    position: absolute;
    top: 10px; /* Adjust this value to control how far from the top */
    right: 10px; /* Adjust this value to control how far from the right */
    padding: 10px 20px;
    background-color: #f0f0f0; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
#darkModeToggle:hover {
    background-color: #e0e0e0; /* Button hover effect */
  }